<form action="/pirates" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name">
    </div>

      <div>
        <label for="birthplace">Birthplace:</label>
        <input type="text" name="birthplace">
    </div>

      <div>
        <label for="death_year">Year of Death:</label>
        <input type="text" name="death_year">
    </div>

      <div>
        <label for="nickname">Nickname:</label>
        <input type="text" name="nickname">
    </div>


    <button type="submit">Submit your Pirate Homie here.</button>
</form>